*{font-family: 'Roboto';}


/*	________________________
   |		CLASSES			|
   \/\/\/\/\/\/\/\/\/\/\/\/\/ 
*/

h1, h2, h3 {
	font-family: "Droid Serif";
}

.roboto-light-med {
	font-size:3em;
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.roboto-light-small {
	font-size:1.5em;
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.roboto {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.arvo {
	color: white;
	text-align: center;
	font-family: 'Arvo', serif;
}

.dropshadow{
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

/*	________________________
   |		RESETS 			|
   \/\/\/\/\/\/\/\/\/\/\/\/\/ 
*/

 /* FOUNDATION OVERWRITE */
.row {  
	width: 100%;
	padding: 0 5px;
}

.margin-bottom {	
	margin-bottom: 40px !important;
}


html, body{
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 4em;
}

.button.confirm {
	background-color: #AAA;
	color: black;
}
.button.cancel {
	background-color: #555;
}

/*	________________________
   |		COLORS			|
   \/\/\/\/\/\/\/\/\/\/\/\/\/ 
*/

p {
	color: #888;
}

h1 {
	color: #444;
}

/*	________________________
   |	 PROGRESS BAR		|
   \/\/\/\/\/\/\/\/\/\/\/\/\/ 
*/
header {
 	background-color: #EC2C2C;
 	margin-bottom: 15px;
}

header img {
	margin-bottom: 20px;
}

.small-2.dot {
	display: inline-block;
}

.row.line {
	margin-top: 35px;
	padding: 0  10% 0 10%;
}

.progress-line { 
	border-bottom: 5px solid white;
}

.progress-dot {
	position: relative;
	width: 30px;
	height: 30px;
	margin: -17px auto 0 auto;
	background-image: url('../img/progress.png'); 
	background-size: 30px 30px;
}

.progress-dot.active {
	background-image: url('../img/progress-active.png');
}

/*	________________________
   |	 	MATCH	     	|
   \/\/\/\/\/\/\/\/\/\/\/\/\/ 
*/
.width-100 {
	width: 100%;
}

.error {
	border: 1px solid red !important;
}

.checkin-row {
	padding-bottom: 30%;
}

.center {
	text-align: center;
}

.highlight {
	padding: 2%;
}

.highlight-yellow {
	background-color: yellow;
	color: black;
}

.highlight-red {
	background-color: red;
	color: white;
}

.highlight-green {
	background-color: green;
	color: white;
}

.highlight-blue {
	background-color: blue;
	color: white;
}

.highlight-orange {
	background-color: orange;
	color: white;
}